body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.project {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
